<h1>Scheduled Lectures</h1>

<h3><%= Time.zone.now.year %></h3>

<% @lectures.each do |lecture| %>
	<% if lecture.year == Time.zone.now.year %>
		<%= link_to "#{lecture.semester} - #{lecture.name}, #{lecture.teacher_names}", lecture_path(lecture) %><br>
	<% end %>
<% end %>

<h3><%= Time.zone.now.year + 1 %></h3>

<% @lectures.each do |lecture| %>
	<% if lecture.year == Time.zone.now.year + 1 %>
			<%= link_to "#{lecture.semester} - #{lecture.name}, #{lecture.teacher_names}", lecture_path(lecture) %><br>
	<% end %>
<% end %>