<% if @user.errors.any? %>
	<div class="panel panel-danger" id="error_explanation">
		<div class="panel-heading">
		    <h2>
		      <%= pluralize(@user.errors.count, "error") %>
		      prohibited this action:
		    </h2>
		</div>
	 
	 	<div class="panel-body">
		    <ul>
			    <% @user.errors.full_messages.each do |msg| %>
			      <li><%= msg %></li>
			    <% end %>
		    </ul>
		</div>
	</div>
<% end %>