<div class="panel panel-info">
  	<div class="panel-heading">
    	<h5>Admin Controls</h5>
  	</div>
  	<div class="panel-body">
    	<p><%= link_to "Add School", new_user_school_path(current_user), class: 'btn-success btn-sm' %></p><br>
  	</div> <!--- Panel Body --->	 
</div> <!--- Panel info --->