<div class="panel panel-info">
  <div class="panel-heading">
    <h5>Teacher Controls</h5>
  </div>
  <div class="panel-body">
    <p><%= link_to "Create Lecture", new_user_lecture_path(current_user), class: 'btn-success btn-sm' %></p><br>
  </div> <!--- Panel Body --->
</div> <!--- Panel info --->