<div class="panel panel-info">
	 <div class="panel-heading">
	   <h5>Tools</h5>
	 </div>
	 <div class="panel-body">
	   <p><%= link_to "Find Lectures",  schools_path, class: 'btn-success btn-lg' %></p><br>
	 </div> <!--- Panel Body --->
 </div> <!--- Panel info --->