<div class="panel panel-default">
	<div class="panel-heading">
		<h1>Schools</h1>
	</div>
	<div class="panel-body">
		<%= form_for @school do |f| %>
			<%= f.collection_select(:id, current_user.schools, :id, :name) %><br>
			<br>
			<%= f.submit 'Submit', class: 'btn-primary btn-md', id: 'schoolFindLectures' %>
		<% end %>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 id="schoolName"></h3>
	</div>
	<div id="schoolLectures"class="panel-body">
	</div>
</div>
