<div class="panel panel-default">
	<div class="panel-heading">
		<h1><%= @school.name %></h1>
	</div>
	<div class="panel-body">
		<h3> List of all available lectures:</h3>
		
		<% @school.lectures.each do |lecture| %>
			<%= link_to "#{lecture.name}, #{lecture.teacher_names} - #{lecture.time}", lecture_path(lecture) %><br>
			<br>
		<% end %>

		<% if current_user.admin %>
			<%= link_to "Edit School", edit_user_school_path(current_user), class: 'btn-primary btn-lg' %><br>
			<br>
			<%= link_to school_path(@school), action: 'destroy', method: 'delete', class: 'btn-danger btn-lg' do %>
			<i class="fa fa-trash"></i> Delete School
              <% end %></p><br>
		<% end %>
	</div>
</div>